/*Time to put your javascript animation skills to the test. Drive a car around the block.
 Navigate the car to each intersection. Come to a complete stop (preferably slowly - 
 don't want to spill your drink with sudden stops). Then enter the intersection(corner) 
 and make a right turn. Drive to the next intersection and again come to a complete stop. 
 Enter the intersection and make a right turn. Repeat over and over.

There are three buttons at the top of the screen! Start the car driving. 
Stop the car where it is. Reset the car.

Extra credit:

Add a slower driving car to the road
When you car approaches a slower car, pass it
No passing in the intersection!
See how many cars you can add to the road and safely navigate!
Remember, no cars can occupy the same space.

Add buttons to do the following:
	- Start the car driving down the road
	- Stop the car
	- Reset the car to its starting point;

In HTML, create a black road that travels around a rectangle at least as thick as three cars

When you get to an intersection come to a full stop

Then make a right turn into the next lane of traffic

Continue driving around the block

Extra Credit: introduce a slower driving car
	- When your fast car catches the slow car
	- Speed up and pass the slow car
	- NO passing in the intersection;
*/
	body{
	margin:0px;
	}

	.blackRoad {
        position: absolute;
        background-color: white;
        height: 700px;
        width: 600px;
        border: 155px solid black;
        padding: 25px;
        margin: 25px;
    }

    .car, .car1{

        position: absolute;
        z-index: 10;
        height: 100px;
        width: 150px;
        top: 0px;
        left: 0px;
        
    }
	.car2, .car2{

        position: absolute;
        z-index: 10;
        height: 100px;
        width: 150px;
        top: 0px;
        left: 0px;
        
    }
	img {
		transition: all 2s;
		position: absolute;
		top: 100px;
		left: 100px;
	}
	
    .intersection1 {
        position: absolute;
        background-color: grey;
        border: 1px solid black;
        width: 145px;
        height: 155px;
        top: 55px;
        left: 830px;
        z-index: 2;
    }

    .intersection2 {
        position: absolute;
        background-color: grey;
        border: 1px solid black;
        width: 145px;
        height: 155px;
       	top: 955px;
        left: 835px;
        z-index: 2;
    }

    .intersection3 {
        position: absolute;
        background-color: grey;
        border: 1px solid black;
       	width: 145px;
        height: 155px;
        top: 955px;
        left: 30px;
        z-index: 2;
    }

    .intersection4 {
        position: absolute;
        background-color: grey;
        border: 1px solid black;
        width: 145px;
        height: 155px;
        top: 55px;
        left: 30px;
        z-index: 1;
    }